__pycache__/
*.pyc
.venv/
venv/
env/
.env

data/raw/*
data/cleaned/*
data/analytics/*
data/quality/*
data/dashboard/*
*.mat
*.parquet
*.csv
*.zip

!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/analytics/.gitkeep
!data/quality/.gitkeep
!data/dashboard/.gitkeep

.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
.aws/
*.pem
